<div class="row">

  <form class="form-horizontal padding-30" role="form" name="mainForm" ng-submit="newCard()">
    <div class="input-group">
      <div class="input-group-btn">
           <label class="btn btn-default">
            <input type="radio" checked name="options" id="_positive" value="Positive" ng-model="card.type"> Positive
          </label>
          <label class="btn btn-default">
              <input type="radio" name="options" id="_negative" value="Negative" ng-model="card.type"> Negative
            </label>      
          </div>
      <input type="text" class="form-control" ng-model="card.comment">
      <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Send!</button>
      </span>
     </div>
  </form>

  <br>

  <div class="col-md-6">
  	<div class="panel panel-default">
  		<div class="panel-heading"><b>Positives</b></div>
  		<div class="panel-body">

			<div class="card" ng-repeat="card in positiveCards">
          <span class="close" ng-click="deleteCard(card)">&times;</span>
    			<p>{{card.comment}}</p>

    		</div>

  		</div>
	</div>
  </div>
  
  <div class="col-md-6">
  	<div class="panel panel-default">
  		<div class="panel-heading"><b>Negatives</b></div>
  		<div class="panel-body">

    		<div class="w3-red card" ng-repeat="card in negativeCards">
    			<p>{{card.comment}}</p>
    		</div>

  		</div>
	</div>
  </div>

</div>