<div class="row">

  <div class="col-md-6">
  	<div class="panel panel-default">
  		<div class="panel-heading"><b>Positives</b></div>
  		<div class="panel-body">
    	
    		<form class="form-horizontal" role="form" name="mainForm" ng-submit="salvar()">
    			 <div class="form-group">
    				<textarea class="form-control" rows="3"></textarea>
    			</div>
    		</form>

  		</div>
	</div>
  </div>
  
  <div class="col-md-6">
  	<div class="panel panel-default">
  		<div class="panel-heading"><b>Negatives</b></div>
  		<div class="panel-body">
    		Panel content
  		</div>
	</div>
  </div>

</div>